/*------------------------------------*\
    #RESPONSIVE COLUM
\*------------------------------------*/

@mixin col-responsive($int, $responsive){
	$value : 100/(12/$int);
	$gap : ($gutter/2);
	width:100%;
	margin: #{$gap}px 0;
	font-size:initial;
	position: relative;
	display:inline-block;
	vertical-align: top;
	@media (min-width: #{$responsive}px) {
		width: #{$value}%;
		padding: 0 #{$gap}px;
	}
}
