/*------------------------------------*\
    #ROW
\*------------------------------------*/
@mixin row($gutter:30){
	$gap : ($gutter/2);
	font: 0/0 a;
	&:after{
		display:inline-block;
		width:100%;
	}
	@media (min-width: 768px) {
		margin: 0 #{$gap}px;
	}
}
